// VARIABLES
$accent_color: green;
$red: red;
$nav_background: rgba(0, 0, 0, 0.817);
$z-10: 10;
$circle: 50%;
$rounded-edge: 1rem;
$light_green: #77c777;
$light_bg: honeydew;
$light_orange: rgb(255, 222, 161);
$orange_border: #ffb732;
$orange: orange;
$overlay: rgba(0, 0, 0, 0.402);

// Mixin

@mixin list {
  list-style: none;
  padding: 0;
}

@mixin flex {
  display: flex;
  align-items: center;
}

@mixin flex_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

@mixin flex_column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@mixin flex_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@mixin backgrondImg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@mixin overlay {
  background-color: rgba(0, 0, 0, 0.329);
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.favourite_header::before {
  @include overlay();
}
.favourite_h1 {
  padding: 2.2rem 1rem;
}
.favourite_header {
  text-align: center;
  padding: 2.2rem 1rem;
  height: 90vh;
  background: url("https://media.istockphoto.com/id/643764532/photo/healthy-food-on-a-heart-shape-cutting-board.jpg?b=1&s=170667a&w=0&k=20&c=QTWM140deAnOEPYgXJeZmNH7R9M_2fl7l138es3m5z0=");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  position: relative;

  h1 {
    font-size: 2.7rem;
  }
  p {
    color: yellow;
  }
  h1,
  p {
    z-index: $z-10;
    position: relative;
  }
}
.like_img {
  width: 100px;
  z-index: $z-10;
  position: relative;
}

.delete_all_btn{
  border: 0;
  background-color: inherit;
  padding-right: 1.5rem;
}


.remove_all_container.active{
  @include flex_column()
}

.remove_all_container.active{
  background-color: rgba(0, 0, 0, 0.368);
  padding: 10px;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  z-index: 10;
  text-align: center;

  .remove_all_modal{
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: $rounded-edge;
    width: 300px;
    // position: relative;
  }
  
  h4 {
    color: $orange;
    padding: 2rem 0rem;
  }
  p {
    color: black;
    padding: 1.5rem 0;
  }

  button{
    padding: 10px;
    font-weight: 600;
    width: 100px;
    border-radius: 10px;
    margin: 0px 10px;

  }

  .confirm{
    background-color: orange;
 border: 1px solid orange;
 color: white;

  }

  .cancel {
    
    color: black;
    border: 1px solid black;
  }
}

.remove_all_container.inactive{
display: none;
}



@media screen and (min-width: 768px) {
  .like_img {
    width: 200px;
  }

  .favourite_header {
    @include flex();
  }

  .favourite_h1 {
    padding: 3rem 3rem;
  }

  .favourite_header {
    padding: 0.1rem 3rem;
    text-align: start;

    h1 {
      font-size: 3.5rem;
    }

    p {
      margin-left: 14px;
    }
  }
  .favourite_text {
    padding: 10px 1rem;
  }

  .delete_all_btn{
    padding-right: 2.4rem;
  }
}

@media screen and (min-width: 1024px) {
  .like_img {
    width: 250px;
  }

  .favourite_header {
    h1 {
      font-size: 4.5rem;
    }
  }

  .delete_all_btn{
    padding-right: 3.4rem;
  }
}

.no_data{
  @include flex_column()
}

.no_data{
img{
  width: 100%;
  height: auto;
  max-width: 650px;
  margin: auto;
}



h3{
  text-align: center;
  padding-bottom: 2rem;
}


}
