// VARIABLES
$accent_color: green;
$red: red;
$nav_background: rgba(0, 0, 0, 0.817);
$z-10: 10;
$circle: 50%;
$rounded-edge: 1rem;
$light_green: rgb(119, 199, 119);
$light_bg: honeydew;
$light_orange: #ffdea1;
$orange_border: rgb(255, 183, 50);
$orange: orange;
$overlay: rgba(0, 0, 0, 0.402);

// Mixin

@mixin list {
  list-style: none;
  padding: 0;
}

@mixin flex {
  display: flex;
  align-items: center;
}

@mixin flex_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

@mixin flex_column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@mixin flex_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@mixin backgrondImg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin overlay {
  background-color: rgba(0, 0, 0, 0.329);
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.header{
  @include flex_column()
}

.header{
  padding: 4rem 1rem;
  text-align: center;
  h1{
    padding: 2.5rem 0 3rem 0;
  }
  img{
    width: 300px;
    height: 300px;
    border-radius: $circle;
    border: 2px solid $accent_color;
  }

  span{
    color: $accent_color;
  }
}

.main {
  padding: 10px 1.5rem;
  background-color: whitesmoke;
}

.text_content {
  padding: 2rem 0 2rem 0;
  h2 {
    color: $accent_color;
  }
}

.list {
  list-style: none;
  font-weight: 500;
  li {
    padding: 20px 0px 20px 0px;
  }
}

.premium_btn {
  border: 1.7px solid $accent_color;
  padding: 10px;
  width: 120px;
  color: white;
  background-color: $accent_color;
  font-weight: bold;
  border-radius: $rounded-edge;
  transition-duration: .3s;
  transition-timing-function: ease-in;
}

.premium_btn:hover {
  border: 1.7px solid $accent_color;
  color: $accent_color;
  background-color: white;
}

.premium_modal_container.active{
  @include flex_column()
}

.premium_modal_container.active{
  background-color: rgba(0, 0, 0, 0.368);
  padding: 10px;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  z-index: 10;
  text-align: center;
  .premium_modal{
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: $rounded-edge;
    width: 300px;
    border-radius: $rounded-edge;
  
    h4{
      padding-bottom: 20px;
      padding-top: 15px;
    }

    p{
      line-height: 1.6rem;
      padding: 20px 0px;
    }

    span{
      color: $accent_color;
      font-weight: 600;
    }
  }

  button{
    background-color: white;
    color: black;
    border: 1px solid black;
    width: 100px;
    font-weight: bold;
    border-radius: $rounded-edge;
    height: auto;
    padding: 10px;
    margin: 10px auto  auto auto;
    transition-duration: .3s;
    transition-timing-function: ease-in;
  }

  button:hover{
    background-color: black;
    color: white;
  }
}

.premium_modal_container.inactive{
display: none;

}



@media screen and (min-width: 768px) {

  .header{
    
    img{
      width: 400px;
      height: 400px;
      border-width: 4px;

    }

    h1{
      font-size: 3rem;
      padding-bottom: 5rem;
    }
   } 

  .main {
    padding: 2rem 2.5rem;
  }
}


@media screen and (min-width: 1024px){

  .header{
    @include flex_row()
  }

  .header{
    padding: 5rem 3rem;
    h1{
      text-align: start;
      font-size: 3.7rem;
      padding-top: 0;
    
    }

    img{
      width: 450px;
      height: 450px;
      border-width: 4px;
    }
  }


}
