// VARIABLES
$accent_color: green;
$red: red;
$nav_background: rgba(0, 0, 0, 0.817);
$z-10: 10;
$circle: 50%;
$rounded-edge: 1rem;
$light_green: rgb(119, 199, 119);
$light_bg: honeydew;
$light_orange: rgb(255, 222, 161);
$orange_border: rgb(255, 183, 50);
$orange: orange;
$grey: rgb(232, 232, 232);

// Mixin

@mixin list {
  list-style: none;
  padding: 0;
}

@mixin flex {
  display: flex;
  align-items: center;
}

@mixin flex_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

@mixin flex_column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@mixin flex_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@mixin flex_wrap_between{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

@mixin backgrondImg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin overlay {
  background-color: rgba(0, 0, 0, 0.329);
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

body{
  font-family: 'Chivo Mono', monospace;
}

.nav_list {
  @include list();
}

.nav_list {
  padding: 2rem 1rem;
}

.app_logo {
  width: 70px;
  height: 70px;
  border-radius: $circle;
}

.mobile_nav,
.desktop_nav {
  background-color: $nav_background;
  color: white;
}

.desktop_nav {
  display: none;
}

.mobile_nav {
  @include flex_row;
  padding: 10px 1rem;
}

.mobile_link_container.inactive {
  display: none;
}

.mobile_link_container.active {
  background-color: $nav_background;
  color: white;
  display: block;
}

.mobile_link_container.active .nav_link {
  padding-bottom: 2rem;
}

a:-webkit-any-link {
  color: white;
  text-decoration: none;
}

.Banner {
  @include backgrondImg();
}

.Banner {
  @include flex_column();
}

.Banner {
  height: 100vh;
  position: relative;
}

.banner_header,
.banner_text {
  z-index: $z-10;
  color: white;
  text-align: center;
  position: relative;
}
.banner_text {
  font-style: oblique;
  color: $orange;
}

.banner_header {
  font-size: 2.7rem;
}

.Banner::before {
  @include overlay();
}


.primary_btn {
  background-color: $light_bg;
  border: 2px solid $accent_color;
  color: $accent_color;
  border-radius: 10px;
  font-weight: bold;
  padding: 10px;
  width: 100px;
  text-align: start;
  font-size: 12px;
  position: relative;
}

.love_icon{
  padding-top: 4px;
}

.like_count{
  background-color: $orange;
  color: white;
  width: 25px;
  height: 25px;
  padding: 3px 0 0px 0px;
  border: 0;
  border-radius: $circle;
  position: absolute;
  z-index: 1;
  margin-left: -10px;
  margin-top: -10px;

}


.primary_btn:hover{
  color: white;
  background-color: $accent_color;
}

.Topfood_container {
  padding: 10px 1.5rem;
}

.Topfood_header {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.topfood_card {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 1.2rem;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid $light_green;
  background-color: honeydew;
  border-radius: $rounded-edge;
  max-width: 350px;
  width: 100%;
  height: 110px;
}

.topfood_card:hover {
  border: 1px solid $orange_border;
}

.topfood_imgcontainer {
  width: 85%;
  height: 60px;
  align-items: center;
}

.topfood_img {
  width: 100%;
  height: 100%;
  border-radius: $rounded-edge;
}

.topfood_title {
  color: $accent_color;
  padding-bottom: 0.7rem;
}

.topfood_detail {
  @include flex();
}

.topfood_difficulty {
  padding-right: 20px;
}

.Topfood_cardcontainer {
  @include flex_wrap_between();
}



.recipe_header {
  color: $accent_color;
}

.mexican_page {
  position: relative;
}

.card_container {
  @include flex_wrap();
}
.card_container{
  position: relative ;
}

.card_badge{
  position: absolute;
  top: -5px;
  right: -5px;
  color: white;
  padding: 3px 7px;
  background-color: $light_green;
  background-color: $orange;
  border-radius: 2px;
}

.card_container{
 padding: 1.5rem;
}
.food_header {
  padding: 2rem;
}

.card {
  @include flex();
}

.card {
  background: honeydew;
  padding: 3px 10px 1px 0px;
  font-size: 14px;
  width: 100%;
  border-radius: $rounded-edge;
  height: 190px;
  border: 1px solid $light_green;
  max-width: 350px;
  margin-bottom: 2.4rem;
  
  .recipe_img {
    width: 120px;
    height: 100%;
    margin-top: 2px;
    margin-left: 10px;
    align-items: center;
    border-radius: $rounded-edge 0 0 $rounded-edge;
    margin-right: 10px;
  }
  .title, .food_id {
    padding: 6px 0;
    font-weight: bold;
  }

  .title {
    font-size: 16px;
    color: $accent_color;
  }

  .download:hover {
    color: $orange;
  }
}

.like_btn, .download_icon{
  position: absolute;
}

.like_btn{
  bottom: 10px;
  right: 10px;
}

.download_icon{
  bottom: 10px;
  right: 50px;
}

.app_footer {
  padding: 2rem 1.5rem;
  text-align: justify;
}

.app_footer {
  background-color: $nav_background;
  color: white;
}

.footer_items {
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.footer_items h3 {
  padding-bottom: 10px;
}

.logo_text {
  color: $accent_color;
  font-style: oblique;
  padding-left: 10px;
}

.footer_link_item {
  padding-bottom: 10px;
}

.footer_link_container {
  list-style-type: none;
}

.footer_link_item:hover {
  color: $accent_color;
}

.download_container{
  width: 320px;
  background-color: rgba(14, 13, 71, 0.368);
  padding: 10px;
  border-radius: 20px;
  border: 20px;
  display: flex;
  margin-bottom: 20px;
  position: sticky;
  bottom: 10px;
  left: 5%;
  margin: auto;
  bottom: 10px;
}

input{
  flex: 5;
  margin-right: 10px;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 5px;
  border: none;
}

.download_btn{
  transition: .3s;
  font-size: 1.2rem;
  padding: 12px 10px;
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: $orange;
  box-shadow: 0px 0px 3px #ffab04;
  cursor: pointer;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 50%;
}

.card_lazy_loading{
  @include flex()
}

.card_lazy_loading{
  background-color: $grey;
  max-width: 350px;
  margin-bottom: 30px;
  border-radius: $rounded-edge;

 .img{
  width: 100px;
  height: 140px;
  border-radius: $rounded-edge;
 }

 .lazy_text{
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
 }

 .lazy_text{
  padding-left: 30px;
 }

 .title{
  width: 150px;
  height: 30px;
  margin-bottom: 20px;
 }

 .difficulty{
  width: 40px;
  height: 20px;
 }

}

@media screen and (min-width: 768px) {
  .mobile_nav,
  .mobile_link_container,
  .mobile_link_container.active {
    display: none;
  }

  .desktop_nav {
    @include flex_row;
  }

  .desktop_nav,
  .app_footer {
    padding: 0.1rem 3rem;
  }

  .nav_list {
    @include flex_row();
  }

  .primary_btn {
    text-align: center;
  }

  .nav_link,
  a:-webkit-any-link {
    padding: 0rem 0rem 0rem 2rem;
  }

  .banner_header {
    font-size: 3.5rem;
  }

  .app_footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-top: 2rem;
  }

  .banner_text {
    font-size: 20px;
  }

  .Topfood_header {
    margin-bottom: 2.3rem;
  }

  .download_container{
    width: 350px;
    left: 28%;

}

.download_btn{
  width: 50px;
  height: 50px;
  font-size: 18px;
}

.card_container{
  @include flex_wrap_between()
}

.card{
  @include flex_column()
}

.card{
background: honeydew;
border-radius: $rounded-edge;
height: 350px;
border: 1px solid $light_green;
max-width: 210px;
margin-bottom: 2.4rem;
text-align: center;
margin-left: 10px;

.title {
  font-size: 20px;
}

.recipe_img{
  width: 120px;
  height: 120px;
  margin-top: 2px;
  align-items: center;
  border-radius: $circle;
  margin-right: 0px;
}
}



.card_container{
  padding: 2.4rem;
 }
 .food_header, .Topfood_container {
   padding: 2.4rem;
 }

.card_lazy_loading{
  @include flex_column()
}

.card_lazy_loading{
  width: 210px;
  height: 350px;
  padding: 10px;  

.lazy_text{
@include flex_column()
}

.lazy_text{
  padding-left: 0;
}

  .img{
    border-radius: $circle;
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
  }

  .title{
    width: 180px;
    height: 30px;
  }

  .difficulty{
    width: 50px;
    height: 30px;
  }
}

}

@media screen and (min-width: 1024px) {
  .banner_header {
    font-size: 5rem;
  }

  .banner_text {
    font-size: 25px;
  }

  .Topfood_header {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .download_container{
    width: 380px;
    left: 50%;
}

.download_btn{
  width: 70px;
  height: 70px;
  font-size: 22px;
}

.card_container .Topfood_cardcontainer{
  padding: 3.4rem;
 }
 .food_header {
   padding: 3.4rem;
   font-size: 2.3rem;
 }

}




.lazyColor {
	opacity: 0.5;
background: linear-gradient(135deg, rgba(211,223,232,.5) 30%,rgba(169,184,197,.5) 38%,rgba(168,182,193,.6) 41%,rgba(168,182,193,.6) 50%,rgba(168,182,193,.6) 50%,rgba(169,184,197,.6) 51%,rgba(211,223,232,.6) 57%,rgba(211,223,232,.6) 80%,rgba(211,223,232,.6) 80%);
background-size: 1200% 1200%;
-webkit-animation: AnimationName 2s ease infinite reverse;
-moz-animation: AnimationName 2s ease infinite reverse;
animation: AnimationName 2s ease infinite reverse;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 92%}
    50%{background-position:100% 9%}
    100%{background-position:0% 92%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 92%}
    50%{background-position:100% 9%}
    100%{background-position:0% 92%}
}
@keyframes AnimationName { 
    0%{background-position:0% 92%}
    100%{background-position:100% 9%}
/*     100%{background-position:0% 92%} */
}